.section {
    height: 70vh;
    background-color: #fdfbf7;
    border: 2px solid black;
    width: 100%;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    flex-direction: column;
}